# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ-related
.idea/
*.iml
*.iws
.last_build_id

# Visual Studio Code-related
.vscode/

# Flutter/Dart-related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/android/app/src/main/java/io/flutter/plugins/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/

# Symbolication related
app.*.symbols

# Executable platforms
**/bin/cache/
**/artifacts/

# Secret/Private files
.env